* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_contener {
    max-width: 1500px;

    .art_building_box {

        .flex_art {
            display: flex;
            gap: 30px;

            .img_case {
                width: 40%;
                position: relative;
                height: 100%;
            }

            .img_position {
                position: absolute;
                top: 0px;
                left: 0%;
                //translate: -50%;
                display: block;
                width: 100%;
                height: 100%;
                transition: 1s ease;
                opacity: 1;
                animation-duration: 1s;
                animation-name: modal;

                img {
                    width: 100%;
                    height: 600px;
                    display: block;
                }

                .img_media {
                    display: none;
                }

                .positon_call {

                    position: absolute;
                    display: none;
                    justify-content: space-between;
                    width: 100%;
                    //  align-items: center;

                    margin-top: 10px;


                    .call_box {

                        img {
                            width: 20px;
                            height: 20px;
                            margin: 0 10px;
                        }
                    }

                }
            }

            @keyframes modal {
                from {
                    left: -1000px;
                    opacity: 0
                }

                to {
                    right: 0;
                    opacity: 1
                }
            }

            .art_text {
                position: relative;

                .title_case {
                    color: #121212;
                    font-size: 55px;
                    margin-top: 15px;
                    transition: 1s ease;
                    animation-duration: 1s;

                    // animation-name: text_are;
                    h1 {
                        font-weight: 300;
                        text-transform: uppercase;

                    }
                }

                .positon_p {
                    color: #000;
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin-top: 30px;

                }
            }

            @keyframes text_are {
                from {
                    opacity: 0;
                    font-size: 0;

                }

                to {
                    opacity: 1;
                    font-size: 55px;
                }
            }

        }
    }


    //////two_block/////


    .architect_building_box {
        .arch_title {
            h2 {
                text-align: center;
                margin-top: 200px;
                font-size: 50px;
                color: #000000;
                font-weight: 300;
                letter-spacing: 20px;
                text-transform: uppercase;
            }

            margin-bottom: 40px;
        }

        .baground_img {

            .one_arch_img_ {
                background-image: url(./public/one_photo_arch.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

               // width: 100%;
                display: flex;
                margin: 0 auto;
                height: 100vh;
                margin-bottom: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow-y: scroll;
                overflow: hidden;


.two_arch_img{

    background-image: url(./public/two_photo_arch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
//width: 50%;
    height: 100vh;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   // top: 100%;
    z-index: 1;
   // border-radius: 100%;

}

                .arch_titile {
                    //display: none;
                    color: #FFF;
                    font-size: 30px;
                    font-weight: 300;
                    line-height: 103.7%;
                    text-transform: uppercase;
                    word-spacing: 15px;
                    z-index: 99;
                    position: sticky;
                    top: 50%;
                    transform: translateY(-50%);

                    /* 
                    transition: .5s ease;
                    scale: 0;
                    transform: translateY(0px); */


                }
            }
        }
    }


}

 [data-aos="custom"] {
    border-radius: 100%;
    width: 50%;
    transition: 1s ease;

}

[data-aos="custom"].aos-animate {
    border-radius: 0%;
    width: 100%;
    transition: 1s ease;
    
} 



[data-aos="custom_two"] {
    border-radius: 100%;
    width: 50%;
    transition: 1s ease;
    top: 70%;

}

[data-aos="custom_two"].aos-animate {
    border-radius: 0%;
    width: 100%;
    transition: 1s ease;
    top: 0;
    
} 